<div class="py-6 px-6 flex justify-between bg-gray-300 mt-2 rounded-xl">
  <div class="w-2/3 pr-10">
    <a href="{% url 'about'%}" class="mb-5 font-bold text-red-500">About</a>

    <p class="text-sm font font-bold text-red-500">
      Made with love by Given chie
    </p>
    <p class="text-sm font font-bold text-red-500">
      Copyright Reserved (R) 2023
    </p>
    <div class="mt-8 text-red-500 font-bold">
      <a href="www.facebook.com">Facebook</a>
      <a href="www.github.com">Github</a>
      <a href="www.instagram.com">Instagram</a>
    </div>
  </div>
  <div class="w-1/3">
    <h3 class="mb-5 font-bold text-red-500">Menu</h3>
    <p class="text-lg font-bold text-red-500">Privacy policy.</p>
    <p class="text-lg font-bold text-red-500">Terms of use.</p>
  </div>
</div>
