<nav class="py-6 px-6 flex justify-between items-center border-b border-grey-100">
  <a href="{% url 'home' %}" class=" text-xl font-bold text-orange-600 hover:text-sky-500">G L O B A L</a>
  {% if user.is_authenticated %}
  <div class="space-x-6">
    <a href="{% url 'search' %}">Search</i></a>
    <a href="/admin">Hello, {{ user.username }}</a>
    <a href="{% url 'logout'%}">Sign Out</a>
    <a href="#">Dashboard</a>
    <a href="#">Messages</a>
    <a href="#" class="btn btn-secondary">Add products</a>
    <a href="{% url 'cart'%}"  class="btn btn-primary" ><i id="scart" class="fas fa-shopping-cart"></i>Cart</a>

    {% else %}
    <a href="{% url 'login'%}">Sign in</a>
    <a href="{%url 'register'%}">Sign up</a>
    <a href="{% url 'search' %}">Search</i></a>
  </div>
  {%endif%}
</nav>
<!-- create a menu for a clean display -->