{%extends "products/base.html" %}

{%block content %}
<style>
  .content{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>

<div class="content">
  
  <div class="left-bar">
    
    <!-- <div class="categories">
      <h1>Categories</h1>
      {% for c in categories%}

      <a href="#">{{c.name}}</a>

      {%endfor%}
    </div> -->
  </div>

  <div class="container-1">
    <div class="px-6 py-6">
      <h1>Shop now page</h1>
    </div>
   
    <div class="row"> 

    <!-- card start -->
    {% for product in products %}
<div class="col d-flex" justify-content-center mb-2>
    <div class="card" style="width: 18rem;">
      <img src="{{product.image}}" class="card-img" alt="..." />
      <div class="card-body">
        
        <h3 class="price">R{{product.price}}</h3>
        <p class="card-text">{{product.description}}</p>
        <p class="sold_by">sold by: {{product.sold_by}}</p>
        <!-- <a href="" id="wishlist"><i id="wishlist" class="fas fa-heart"></i></a> -->
        <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
    </div>
  </div>
    {% endfor %}
    <!-- card end-->

</div>

<script></script>

{%endblock%}
