{% extends "products/base.html" %}
{%block content%}
{% for sale_item in sale_items %}
<div class="col d-flex" justify-content-center mb-2>
  <div class="card" style="width: 18rem;">
    <img src="{{sale_item.products.image}}" class="card-img" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{sale_item.products.name}}</h5>
      <p class="card-text">{{sale_item.products.description}}</p>
   
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
  </div>
</div>
  {% endfor %}

{% endblock %}