{% extends "products/base.html" %} {%block content%}

{% if user.is_authenticated %}
<div class="sell_now">
  <h1>Start selling on our site</h1>
  <p>Register your account,we will take care of the rest for you.</p>

  <form action="{% url 'sell_now' %}" method="post">
    {% csrf_token %} {{ form.as_p }} <input type="checkbox" class="form-check"
    agree" id="" required/>
    <input type="submit" class="btn btn-success" value="Register" />
  </form>
</div>
{%else%}
<div class="user_details">
  <h1>Add your user details now</h1>
  <form action="{% url 'sell_now' %}" method="post">
    {% csrf_token %} 
    
    {{ form_two.as_p }}
    <input type="submit" class="btn btn-primary" value="Start selling" />

  </form>
</div>
{%endif%}

{% endblock %}
